# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Git
.git/
.gitignore

# Notebooks
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Logs
*.log
